@media screen and (min-width: 376px) {
    body {
        background-image: url("./images/pattern-background-desktop.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        }
    }


@media screen and (max-width: 375px) {
    body {
        background-image: url("./images/pattern-background-mobile.svg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

body {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 25px;
    width: 25rem;
    height: 40rem;
    background-color: white;
}

.card:hover {
    box-shadow: 0 32px 64px 0 rgba(0,0,0,0.2);
  }


  .card-img {
    width: 100%;
    border-radius: 25px 25px 0 0;
    display: block;
    margin: auto;
  }

  .cardInside {
      width: 70%;
      margin: auto;
      text-align: center;
  }

  .cardInside h1 {
      color: hsl(223, 47%, 23%);
  }